body, header, footer, nav, .toparea {min-width: 360px;font-family: 'Raleway', sans-serif;}

.hide {display: none;}
.hidden-file-input {width: 0px;height: 0px;}
/* colors  */
.navbar-toggler {border-color: #b3816a;}
.navbar-toggler i {color: #b3816a;}

/* fonts */
.font-110 {font-size: 110%;}
.font-125 {font-size: 125%;}

/* business logo  */
.img-logo {max-height: 114px;}

/* select2  */
.select2 {width: 100% !important;}

.btn-primary:hover {
    color: #fff;
    background-color: #aa7760;
    border-color: #b3816a;
    box-shadow: 0px 0px 1px 2px rgba(0,0,0, .3);
}

.navbar-brand {
    color: #9e6d56;
}

.navbar-brand .logo {margin-top: -5px;margin-right: 0px;}

nav.navbar .navbar-nav .nav-link {
    font-weight: 600;
}

#page-toggler {background: transparent;border: 0.5px solid lightgray;font-size: 110%;}

.toparea .dropdown .dropdown-menu {
    background-color: #b3816a;
}

.toparea .dropdown .dropdown-menu a.dropdown-item {
    font-weight: 600;
}

.toparea .dropdown .dropdown-menu a.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

.toparea .btn-icon {
    /*border: 0.5px solid cornsilk;*/
    border-radius: 3px;
    color: floralwhite;
    cursor: pointer;
}

.toparea .btn-icon:hover, .toparea .btn-icon:focus, .toparea .btn-icon:active {
    /*border: 0.5px solid cornsilk;*/
    border-radius: 3px;
    color: white;
    background-color: rgba(0,0,0, .3);
}

.message-box {
    position: absolute;
    right: 0;
    z-index: 1;
}

.breadcrumb {
    margin-top: -15px;
    padding: .3rem 1rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #B8B8B8 !important;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #B8B8B8 !important;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #B8B8B8 !important;
}
:-moz-placeholder { /* Firefox 18- */
    color: #B8B8B8 !important;
}

.form-control:focus {
    box-shadow: 0 0 0 .1rem rgba(0,123,255,.25);
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px whitesmoke;
    border-radius: 10px;
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: cadetblue;
    border-radius: 10px;
}

/* Home page */
.card-box {
    min-height: 180px;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 5px 10px;
}
.box-title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 180%;
    color: #b3816a;
    text-align: center;
    padding-top: 5px;
}
.card-box:hover .box-title {
    color: #0056b3;
}
.card-box p {
    padding: 5px 10px;
    text-align: center;
    font-size: 110%;
    color: #717171;
}
.card-box:hover p {
    color: #000000;
}

/* lost found */
.type-tag {
    position: absolute;
    z-index: 2;
    width: 150px;
    text-align: center;
    top: 0px;
    left: 0px;
    font-weight: 500;
}

.type-tag.lost {background-color: rgba(255,255,191, .75);}
.type-tag.found {background-color: rgba(127,255,212, .75);}

.btn-details {
    position: absolute;
    bottom: 0;
    right: 15px;
}

.btn-delete-image {
    position: absolute;
    top: 0;
    right: 15px;
}

#imageSlider .carousel-item {text-align: center;}
#imageSlider .carousel-item img {max-height: 500px; height: 500px;}

.post-box {padding: 15px !important;}

/* avatar */
.avatar {max-height: 40px; max-width: 40px;margin-right: 5px;display: inline-block;}
.avatar-title {font-weight: 600;padding-top: 7px;border-bottom: 2px solid gray;margin-bottom: 5px;display: inline-block;}

@media all and (min-width: 1200px) {
    /* #page-toggler {margin-left: 31%;} */
}

@media all and (max-width: 1199px) and (min-width: 992px) {
    /* #page-toggler {margin-left: 27%;} */
}

@media all and (min-width: 992px) {
    #search-form {
        position: absolute;
        margin-left: 240px;
        width: 50%;
        max-width: 400px;
    }

    .navbar-brand .logo {
        margin-top: -5px;
    }
}

@media all and (max-width: 991px) {
    
}

@media all and (max-width: 991px) and (min-width: 768px) {
    /* #page-toggler {margin-left: 20%;} */
}

@media all and (min-width: 768px) {
    #aside-wrapper {display: none;}
    .page-content {margin-top: 56px;}
}

@media all and (max-width: 767px) {
    /*#accountUpdateForm .row {margin-right: 0px; margin-left: 0px;}*/
    form > .row {margin-right: 0px; margin-left: 0px;}
    #aside-wrapper {display: block;}
    /* .page-content {margin-top: 17px;} */
    .navbar-brand {font-size: 160%;}
    .toparea {top: 50px;}
    .plr-15 {padding-left: 15px !important; padding-right: 15px !important;}
}

@media all and (max-width: 640px) {
    #search-form {max-width: 260px;}
}

@media all and (min-width: 576px) {
    #search-btn {display: none;}
    .location-btn {font-size: 110%;}
}

@media all and (max-width: 575px) {
    #search-form {display: none;}
    #search-btn {display: inline-block;}
    nav .container {padding-left: 0px !important;padding-right: 0px !important;}
    .page-content .container {padding-left: 15px !important;padding-right: 15px !important;}
    .username {display: none;}
    .location-btn span {position: absolute;bottom: -3px;right: 15px;font-size: 90%;}
}