/*
base    rgb(179, 129, 106), #9e6d56
light   #c08874
lighter
dark    rgb(174, 119, 96), #ae7760
darker
*/

/*font-family: 'Open Sans', sans-serif;*/

body,
header,
footer,
nav {
    min-width: 360px;
    max-width: 1920px;
}

/* fonts  */
body {
    font-family: 'Open Sans', sans-serif;
}

.theme-bg {
    background-color: #9e6d56;
}

/* hr  */
hr {
    border-top: 1px solid rgba(179, 129, 106, .5);
}

/* font colors  */
.text-blue {color: mediumblue;}
.text-green {color: green;}
.text-red {color: red;}

/* font weights  */
.fw-600 {font-weight: 600;}

/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #828282;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b9bbb6;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777b7e;
    border-radius: 10px;
}

/* navbar , sidebar, page wrapper, menu toggle */
/*#menu-toggle {
    border-radius: 4px;
    margin-right: 15px;
    font-weight: 600;
    padding: 5px 10px;
}*/

/*#menu-toggle,
#menu-toggle:focus,
#menu-toggle:active {
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}*/

/*#menu-toggle:hover {
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
}*/

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 160%;
    font-weight: 600;
    margin-right: 11px;
    margin-left: 35px;
    max-height: 35px;
    max-width: 165px;
}

.navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
    color: #9e6d56;
}

.navbar-brand img.navbar-link {
    max-height: 48px;
    margin-top: -8px;
    margin-bottom: -6px;
    margin-right: 5px;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    top: 84px;
    width: 200px;
    height: 100%;
    margin-left: 0px;
    overflow-y: auto;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 55px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    height: calc(100% - 100px);
    overflow-y: auto;
}

.sidebar-nav li.list-group-item, .aside-nav li.list-group-item {
    padding: 10px 15px;
    background-color: transparent;
    font-weight: 500;
}

.sidebar-nav li.list-group-item a, .aside-nav li.list-group-item a {
    padding-right: 3px;
}

.sidebar-nav li:hover, .aside-nav li:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

.sidebar-nav li a, .aside-nav li a, .section-footer ul a {
    display: block;
    text-decoration: none;
    color: floralwhite;
    font-weight: 500;
}

.sidebar-nav .category-list li a {
    color: snow;
}

.sidebar-nav li:hover a,
.sidebar-nav li a:hover,
.sidebar-nav li a.active,
.aside-nav li:hover a,
.aside-nav li a:hover,
.aside-nav li a.active {
    text-decoration: none;
    color: white;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.aside-nav li a:active,
.aside-nav li a:focus {
    text-decoration: none;
}

.section-footer ul a:hover {
    text-decoration: underline;
    color: white;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-nav ul.list-group {
    margin-right: -10px;
    /* padding-left: 15px; */
}

.sidebar-nav li.list-group-item ul.list-group li.list-group-item {
    border: transparent;
}

.toparea {
    position: fixed;
    width: 100%;
    padding: 5px;
    top: 51px;
    z-index: 100;
    border-top: 1px solid lightgray;
    font-size: 100%;
    font-weight: 600;
}

.toparea a {color: floralwhite;}

.toparea a:hover,
.toparea a:focus,
.toparea a:active {
    color: white;
}

#homepage-content-wrapper {
    position: relative;
    left: 0;
    top: 40px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.page-content {min-height: 570px;}

@media (min-width: 768px) {
    #menu-toggle {
        margin-left: -80px;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    #sidebar-wrapper {
        width: 200px;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    #page-content-wrapper {
        padding-left: 200px;
        position: relative;
        left: 0;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    #aside-toggler {
        display: none;
    }

    #right-panel {
        display: none;
    }
}



@media (max-width: 767px) {
    #menu-toggle {
        margin-left: 0px;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    #sidebar-wrapper {
        width: 0px;
        margin-left: -1px;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    #page-content-wrapper {
        position: relative;
        left: 0;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .page-content {
        padding-top: 40px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 200px;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .navbar-brand {
        font-size: 110%;
        margin-left: 0px;
        margin-right: 0px;
    }

    #aside-wrapper {
        z-index: 1000;
        position: fixed;
        top: 83px;
        right: -200px;
        width: 200px;
        height: 100%;
        margin-right: 0px;
        overflow-y: auto;
        border-right: 1px solid rgba(0, 0, 0, 0.05);
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    #aside-wrapper.toggled {
        right: 0px;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .aside-nav {
        position: absolute;
        top: 0;
        width: 200px;
        margin: 0;
        padding: 0;
        list-style: none;
        height: calc(100% - 100px);
        overflow-y: auto;
    }
}

@media (min-width: 576px) {
    /* .toparea .toparea-btn-box {text-align: center;} */
}

@media (max-width: 575px) {
    .toparea a span {display: none;}
    .toparea .toparea-btn-box {text-align: left;}
}